{% extends "base.html.j2" %}

{% block content %}
    <div class="row">
    <div class="col-12">
    <h2>404 <small>Not Found</small></h2>
    <p>Sorry, that page couldn't be found. Please go <a href="/">here</a> and try again.</p>
    
    </div>
    </div>
{% endblock %}