{% extends "base.html.j2" %}

{% block content %}
    <div class="row">
    <div class="col-12">
    <h2>Thank you for participating!</h2>
    <p>Your reviews have been stored. We deeply appreciate your time and effort to referee these proposals. Such input is immensely valuable for our investigation into new methods of peer review.</p>
    <p>You will be contacted soon with a questionnaire about your experience and impressions. We would appreciate your taking a moment to fill it out, as a supplement to the refereeing process. A full report on the experiement will appear early next year in the ESO <em><a href="https://www.eso.org/sci/publications/messenger/" target="_blank">Messenger</a></em>.</p>

    <p>Please destroy now any related proposal documents in your possession, per the confidentiality agreement.</p>

    <p>Please <a href="/logout">click here to logout.</a></p>    
    </div>
    </div>
{% endblock %}