{% extends "base.html.j2" %}

{% block content %}
    <div class="row">
    <div class="col-12">
    <form method="get" action="display" class="form-inline">
        <input type="text" id="idInput" class="form-control" value="{{ some_id }}" name="ref_id">
        <button type="submit" class="btn btn-primary ml-3">Give it now!</button>
    </form>

    <div style="padding-top: 3em;"></div>
    
    <h2>Available referee ids</h2>
    {% for id in id_list %}
    <a href="javascript:" onclick="$('#idInput').val('{{ id }}');"><span class="badge badge-light">{{ id }}</span></a>
    {% endfor %}
    
    </div>
    </div>
{% endblock %}