{% extends "base.html.j2" %}

{% block content %}
    <div class="row">
    <div class="col-12">
    <form method="post" action="login" class="form-inline">
        <input type="text" id="idInput" class="form-control" value="{{ some_id }}" name="ref_id">
        <button type="submit" class="btn btn-primary ml-3">Give it now!</button>
    </form>

    <div style="padding-top: 3em;"></div>
    
    <h2>Available referees</h2>
    <p>Color-coding: <span class="badge badge-light">Hasn't accepted TOU</span>
    <span class="badge badge-secondary">Has accepted TOU; some work done</span>
    <span class="badge badge-dark">All reviews complete (but not finalised)</span>
    <span class="badge badge-success">Referee's reviews finalised</span></p>
    <p>
    {% for referee in available_referees %}
    <a href="javascript:" onclick="$('#idInput').val('{{ referee.uuid }}');"><span class="badge 
    {% if referee.finalized_submission %}
        badge-success
    {% elif referee.completed_all_reviews() %}
        badge-dark
    {% elif referee.accepted_tou %}
        badge-secondary
    {% else %}
        badge-light
    {% endif %}
    ">{{ referee.uuid }}</span></a>
    {% endfor %}
    </p>
    
    </div>
    </div>
{% endblock %}