{% extends "base.html.j2" %}

{% block content %}
    <div class="row">
    <div class="col-12">
    <h2>You have logged out.</h2>
    <p>You may close this browser window. Or <a href="/">click here to log in again</a>.
    
    </div>
    </div>
{% endblock %}