<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Deepthought OPC -- Proposal Review</title>
<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
function conflictExists(proposalID) {
    return $('#close_relationship'+proposalID).prop('checked') || $('#direct_competitor'+proposalID).prop('checked');
}

function grayBadge(badgeID, htmlContent) {
    badge = $('#'+badgeID);
    badge.addClass('badge-secondary');
    badge.removeClass('badge-success');
    badge.removeClass('badge-danger');
    // if any more bootstrap badge types are used, add them here
    badge.html(htmlContent);
}

function greenBadge(badgeID, htmlContent) {
    badge = $('#'+badgeID);
    badge.addClass('badge-success');
    badge.removeClass('badge-secondary');
    badge.removeClass('badge-danger');
    // if any more bootstrap badge types are used, add them here
    badge.html(htmlContent);
}

function redBadge(badgeID, htmlContent) {
    badge = $('#'+badgeID);
    badge.addClass('badge-danger');
    badge.removeClass('badge-secondary');
    badge.removeClass('badge-success');
    // if any more bootstrap badge types are used, add them here
    badge.html(htmlContent);
}

function updateScoreBadge(proposalID) {
    currentScore = $('#score'+proposalID).val();
    badge = $('#badgeScore'+proposalID);
    if (currentScore == '') {
        grayBadge('badgeScore'+proposalID, '✘ No score');
    } else if (currentScore >= 1.0 && currentScore <= 5.0) {
        greenBadge('badgeScore'+proposalID, '✔ Score: '+currentScore);
    } else {
        redBadge('badgeScore'+proposalID, '✘ Invalid Score: '+currentScore);
    }
}

function updateCommentsBadge(proposalID) {
    currentComments = $('#comment'+proposalID).val();
    badgeID = 'badgeComments'+proposalID;
    if (currentComments.trim() == '') {
        grayBadge(badgeID, '✘ No comments');
    } else if (currentComments.length > 10) {
        greenBadge(badgeID, '✔ Comments ('+currentComments.length+' chars)');
    } else {
        redBadge(badgeID, '✘ Comments('+currentComments.length+' chars)');
    }
}

function updateExpertiseBadge(proposalID) {
    currentExpertise = $('#ref_knowledge'+proposalID).val();
    badgeID = 'badgeExpertise'+proposalID;
    if (currentExpertise == '') {
        grayBadge(badgeID, '✘ Expertise missing');
    } else {
        greenBadge(badgeID, '✔ Expertise: '+currentExpertise);
    } 
}

function updateSavedBadge(proposalID, lastUpdated) {
    if (lastUpdated == undefined) {
        lastUpdated = $('#last_updated'+proposalID).val();
    }
    greenBadge('badgeSaved'+proposalID, '✔ Saved ('+lastUpdated+')');
}



// when either conflict is checked, the other inputs for that review should be disabled:
function toggleConflictOverride(proposalID) {
    if (conflictExists(proposalID)) {
        $('.badgeReview'+proposalID).css('display', 'none');
        $('#badgeConflict'+proposalID).css('display', 'inline-block');
        $('.reviewInput'+proposalID).attr('disabled', true);
    } else {
        $('.badgeReview'+proposalID).css('display', 'inline-block');
        $('#badgeConflict'+proposalID).css('display', 'none');
        $('.reviewInput'+proposalID).attr('disabled', false);
    }
}

// collapse accordion; "save" button -> "update" in case user wants more changes
function collapseAndChangeSaveButton(proposalID) {
    $('.collapse').collapse('hide');
    $('#saveButton'+proposalID).removeClass('btn-success');
    $('#saveButton'+proposalID).addClass('btn-primary');
    $('#saveButton'+proposalID).html('Update');
    $('#saveButton'+proposalID).attr('onclick', "submitReview("+proposalID+");");
}

function submitReview(proposalID) {
    review = {"proposal_id": proposalID};
    // need to put id and/or referee_id
    review.comment = $('#comment'+proposalID).val();
    review.ref_knowledge = $('#ref_knowledge'+proposalID).val();
    review.score = $('#score'+proposalID).val();
    review.close_relationship = $('#close_relationship'+proposalID).prop('checked');
    review.direct_competitor = $('#direct_competitor'+proposalID).prop('checked');

    console.log(review);
    
    /* need cherrypy running for below:
    $.ajax({
        url: '/save_review',
        type: 'PUT',
        beforeSend: function (xhr) { */
            $('#submitGif'+proposalID).css('display', 'inherit'); /*
        //     xhr.setRequestHeader('Authorization', 'Basic {{ token }}');
        },
        dataType: 'json',
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify(review),
        success: function(response) { */
            updateSavedBadge(proposalID, '2018-09-05 13:00'); // review.last_updated
    
            $('#saveButton'+proposalID).addClass('btn-success');
            $('#saveButton'+proposalID).removeClass('btn-primary');
            $('#saveButton'+proposalID).html('✔ Saved (Click to Close)');
            $('#saveButton'+proposalID).attr('onclick', "collapseAndChangeSaveButton("+proposalID+");");
            $('#submitGif'+proposalID).css('display', 'none'); /*
        },
        error: function(response) {
            // mark review error
            console.log(response.status+": "+response.responseText);
        },
        complete: function() {
            // hide animation
        }
    });
    */
}

$(document).ready(function () {
    //{% for review in reviews %}
    updateScoreBadge(777);
    updateCommentsBadge(777);
    updateExpertiseBadge(777);
    toggleConflictOverride(777);
    
    //{% endfor %}
});
</script>


</head>


<body>
<div class="container">
    <div class="row">
        <h1>Deepthought OPC</h1>
    </div>
    <div class="row">
        <div class="col-10 offset-md-1">
            <div>
                <!-- {# alerts will go here #} -->
            </div>

            <h2>Proposals for you to referee:</h2>

            <form method="post">
            
            <div class="accordion" id="proposalsAccordion">
            
            <!-- {% for review in reviews %} -->

            <div class="card">
                <div class="card-header" id="heading777">
                    <div class="row">
                    <div class="col-12">
                    <h5 class="mb-0" style="display: inline-block;">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse777" aria-expanded="true" aria-controls="collapse777">
                        1234567: A Modest Proposal
                    </button>
                    </h5>
                    </div>

                    <div class="col-12 text-right" style="padding-top: .5em;">
                    <span class="badge badge-info" id="badgeConflict777">Conflict exists</span>
                    <span class="badge badge-secondary badgeReview777" id="badgeScore777">✘ No score</span>
                    <span class="badge badge-secondary badgeReview777" id="badgeComments777">✘ No comments</span>
                    <span class="badge badge-secondary badgeReview777" id="badgeExpertise777">✘ No expertise</span>
                    &nbsp;&nbsp;&nbsp;
                    <span class="badge badge-secondary" id="badgeSaved777">✘ Review not saved</span>
                    </div>
                    </div>
                </div>
            
                <div id="collapse777" class="collapse" aria-labelledby="heading777" data-parent="#proposalsAccordion">
                    <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat turpis ante, quis fringilla leo consectetur nec. Vestibulum tristique ornare dolor gravida luctus. Donec elementum faucibus diam, vel sagittis ipsum mattis ac. In consectetur, quam eu tempor aliquam, lectus quam volutpat enim, ut iaculis urna quam non ante. Vivamus tempor sem sed augue fringilla, quis consectetur lectus egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut sagittis euismod nisi in porttitor. Donec dapibus urna pharetra odio rutrum, at tristique nisi scelerisque. Morbi lacinia metus eget felis vulputate venenatis. Nullam non lorem leo. Nunc nec sem eget eros accumsan tincidunt id sed mi. Fusce molestie, leo eget accumsan pulvinar, est ante porttitor mauris, id accumsan justo nisl sed nisi.</p>

                    <p><a href="#">View Proposal PDF</a></p>

                    <div class="form-group">
                        <label for="score777">Proposal Score</label>
                        <input type="number" class="form-control reviewInput777" id="score777" name="score777" placeholder="1.0 - 5.0" step="0.1" min="1" max="5" onchange="updateScoreBadge(777);" onkeyup="updateScoreBadge(777);">
                    </div>

                    <div class="form-group">
                        <label for="comment777">Comments</label>
                        <textarea class="form-control reviewInput777" id="comment777" name="comment777" rows="3" onchange="updateCommentsBadge(777);" onkeyup="updateCommentsBadge(777);"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="ref_knowledge777">Your Expertise</label>
                        <select class="form-control reviewInput777" id="ref_knowledge777" name="ref_knowledge777" onchange="updateExpertiseBadge(777);">
                            <option value="">Please choose one</option>
                            <option value="1">(1) This is my field of expertise.</option>
                            <option value="2">(2) I have some general knowledge of this field.</option>
                            <option value="3">(3) I have little or no knowledge of this field.</option>
                        </select>
                    </div>

                    <hr style="margin-top: 2em; margin-bottom: 2em;">

                    <h5 class="text-center">Or: I cannot review this proposal, because I have a conflict:</h5>
                    <div class="row">
                    <div class="col-8 offset-md-2">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="close_relationship777" onchange="toggleConflictOverride(777);"><label for="close_relationship777" class="form-check-label"> I have a close personal or professional relationship with the PI.</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="direct_competitor777" onchange="toggleConflictOverride(777);"><label for="direct_competitor777" class="form-check-label"> I am a direct competitor to this proposal.</label>
                    </div>
                    </div>
                    </div>
                    
                    <input type="hidden" id="last_updated777" name="last_updated777" value="2018-09-05 12:37">

                    <div class="form-group text-center" style="margin-top: 2em;">
                        <button type="button" class="btn btn-primary" id="saveButton777" onclick="submitReview(777);">
                            <img src="../img/ajax-loader.gif" id="submitGif777" class="submitGif" style="display: none;">
                            &nbsp;Save this Review
                        </button>
                        <button type="button" class="btn btn-secondary" onclick="$('.collapse').collapse('hide');">Close without Submitting</button>
                    </div>
                    </div> <!-- {# /.card-body #} -->
                </div> <!-- {# /#collapse #} -->
            </div>

            <!-- {% endfor %} -->

            </div> <!-- {# /proposalsAccordion #}-->
            </form>

        </div>
    </div>
</div>


</body>
</html>