<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Deepthought OPC -- Proposal Review</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
  </head>
  <body>
      <div class="container">
          <div class="row">
              <h1>Deepthought OPC</h1>
          </div>
          <div class="row">
              <div class="col-6 offset-md-3">
                    <div>
                        <!-- alerts will go here -->
                    </div>

                    <h2>Proposals for you to referee:</h2>

                    <nav aria-label="proposal selection">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item"><a class="page-link" href="#">7</a></li>
                            <li class="page-item"><a class="page-link" href="#">8</a></li>
                        </ul>
                    </nav>

                    <form method="post">

                    
                    
                    <div class="card">
                        
                        <div class="card-body">
                            <h3 class="card-title">Proposal 1</h3>
                            
                            <p><a href="#">View PDF</a></p>
                            
                            <div class="form-group">
                                <label for="score">Proposal Score</label>
                                <input type="number" class="form-control" id="score" name="score" placeholder="0.0" step="0.1" min="0" max="5">
                            </div>

                            <div class="form-group">
                                <label for="comment">Comments</label>
                                <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                    <label for="ref_knowledge">Your Expertise</label>
                                    <select class="form-control">
                                        <option value="1">Expert</option>
                                        <option value="2">Knowledgeable</option>
                                        <option></option>
                                    </select>
                                </div>

                            <div class="text-center">
                            <button class="btn btn-primary" type="submit">Save my review</button>
                            </div>
                        </div>
                        
                    </div> 

                    

                    </form>
              </div>
          </div>
      </div>
  
  </body>
</html>