<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Deepthought OPC -- Proposal Review</title>
  <link rel="stylesheet" href="css/bootstrap-min.css" type="text/css">
  </head>
  <body>
      <div class="container">
          <div class="row">
              <h1>Deepthought OPC</h1>
          </div>
          <div class="row">
              <div class="col-6 offset-md-3">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item"><a class="page-link" href="#">7</a></li>
                            <li class="page-item"><a class="page-link" href="#">8</a></li>
                        </ul>
                    </nav>

                    
                  
              </div>
          </div>
      </div>
  
  </body>
</html>